.card {
  margin: 0 auto;
  border: none !important;
}

.card-container {
  display: block;
  height: 100%;
  margin: 20px auto;
}

.article-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

.article-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.article-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-weight: 600;
}

.article-date {
  text-align: right;
}

.article-button {
  display: flex;
}

a[href] {
  color: var(--card-text-bg);
  text-decoration: none;
}

.article-container {
  width: 16rem;
  padding: 0 !important;
  border-radius: 5px;
  color: var(--card-header-text-color);
  margin: 0 auto;
  background-color: var(--card-header-bg-color);
}

.article-container:hover {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--card-hover-color);
  color: var(--card-bg);
}

.article-content-container {
  display: flex;
  justify-content: space-between;
}

.indicator {
  text-align: center;
}

.indicator>.spinner-grow {
  margin: 10px 5px;
}

@media screen and (min-width: 425px) {
  .article-container {
    width: 18rem;
  }
}

@media screen and (min-width: 1020px) {
  .article-container {
    width: 22rem;
  }
}