.button-container {
    display: flex;
    margin: 20px auto;
    overflow: auto;
}

.button-container>.btn {
    margin: 0 5px;
    min-width: 150px;
    background-color: #28362f;
    color: #FFFFFF;
    padding: 10px;
}

.button-container>.btn:hover {
    background-color: #28362f;
    color: #FFFFFF;
}

@media screen and (min-width: 1100px) {
    .button-container {
        justify-content: center;
    }
}