.button-container {
    display: flex;
    margin: 20px auto;
    overflow: auto;
}

.button-container>.btn {
    margin: 0 5px;
    min-width: 150px;
    background-color: var(--button);
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid var(--cat-button-outline);
}

.button-container>.btn:hover {
    background-color: var(--cat-button-outline);
    color: #FFFFFF;
    border: 1px solid var(--cat-button-outline);
}

@media screen and (min-width: 1100px) {
    .button-container {
        justify-content: center;
    }
}