main {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
}

.title-populer {
  font-weight: 600;
  text-align: center;
  padding: 30px 0;
}

.artikel-image {
  width: 100%;
}

.artikel-item {
  background-color: aqua;
}
