.detail-img {
  width: 80%;
  max-height: 500px;
}

.detail-title {
  letter-spacing: 3px;
}

.detail-overview {
  padding: 10px 10%;
}

.detail-credit {
  width: 50%;
}

.detail-credit {
  box-shadow: 6px 11px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 6px 11px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 6px 11px 5px 0px rgba(0, 0, 0, 0.12);
}
