.navigation-container {
    background-color: var(--on-background-color);
}

.navigation-brand {
    display: flex;
    align-items: center; 
    color: var(--on-color) !important;
}

.navbar-brand img {
    background-color: var(--on-background-color);
    content: var(--img-content);
}

.nav-link {
    color: var(--on-color) !important;
}

.me-auto {
    margin-left: auto !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-button {
    border: none;
    background-color: transparent;
    font-size: 35px;
    margin-right: 10px;
    color: var(--on-color);
}
