@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "./components/footer.css";
@import "./components/navbar.css";
@import "./components/card-template.css";
@import "./components/detail.css";
@import "./components/search-bar";
@import "./components/category-button.css";

@import "./pages/homepage.css";
@import "./pages/about-us.css";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background-color: #f4f4f2;
  --background-about-header: #f4f4f2;
  --background-about: #f1f1f1;
  --color: #28362f;
  --color-about-vm: #7d7d7d;
  --hr: black;
  --button: #28362f ;
  --img-content: url("../../public/logo-dark.svg");
}

[data-theme="dark"] {
  --on-background-color: #28362f;
  --background-about-header: #283632;
  --background-about: #283632;
  --button: #AA8B56;
  --hr: #ffffff;
  --on-color: #ffffff;
  --color-about-vm: #ffffff;
  --img-content: url("../../public/logo.svg");
}

main {
  background-color: var(--on-background-color);
}