.me-auto {
    margin-left: auto !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navigation-container {
    background-color: #AA8B56;
}

.navigation-brand {
    display: flex;
    align-items: center; 
}
